<!--The content below is only a placeholder and can be replaced.-->
<div class="padded" id="header">

  <div>
    <a routerLink="/" style="font-weight:bold;font-size:42px;color:white;">
        e
        <!--<img id="logo" src="assets/images/logo.png">-->
    </a>
</div>

<div class="spacer"></div>

<nav>

  <a routerLink="/bio">Bio</a>
  <a routerLink="/blog">Blog</a>
  <a href="https://github.com/eferrer28"><i class="fa fa-github fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/eric-ferrer-ab953630"><i class="fa fa-linkedin fa-2x"></i></a>
  <a href="https://twitter.com/EricsNumberBot"><i class="fa fa-twitter fa-2x"></i></a>

</nav>




</div>





<router-outlet></router-outlet>
