@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */

/* Fixes edges issue  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#header {
    display: flex;
    width: 100%;
    height: 75px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(00,00,00,0.8);
}


#header a {
color: white;
}



.spacer {
  .webkit-box-flex: 1;
  flex-grow: 1;
}

nav {
    display:flex;
    align-items:center;
}

nav>* {
    padding-left:30px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255,255,255,.85);
    text-transform: uppercase;

}


/* INTRO BLOCK SECTION */

#intro-block {
    margin-top:-50px;
    padding-top:145px;
    padding-bottom:50px;

    display: flex;
    justify-content: center;
    align-items:center;
    color:rgba(255,255,255,.95);
    position:relative;
    font-size:16px;
    background-color:rgba(53,63,73,0.7);
}

#intro-block div {
    width:700px;
}
#intro-block img {
    width: 300px;
    height: 300px;
    padding: 25px;

}

#intro-block h1 {
    font-size: 80px;
}




#twitterBot {
  background-image: url('/assets/images/numbers.png');

}

#recipes {
  background-image: url('/assets/images/recipe.png');

}

#eRec {
  background-image: url('/assets/images/emprec.jpg');

}


.flexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  max-width:1600px;
  margin: 50px auto 0px;

}

.flexChild {
  padding: 5px;
  background: white;
  margin: 16px;
  text-align: center;
  height: 300px;
  width:300px;
  overflow:hidden;
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,.2)

}


.projectsFlex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
    max-width:1600px;
    margin: 50px auto 0px;
}


.projectsFlex>div {
    background: white;
    margin: 16px;
    text-align: center;
    border: 0.25px solid rgba(0,0,0,.2);
    height: 300px;
    width:300px;
    overflow:hidden;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,.2)
}


.flexImage {
  width: 300px;
  height:200px;
  background-size:cover;
  background-position: center center;
  border-bottom: solid 0.25px rgba(0,0,0,.2);
}

.title {
  margin: 10px 0px;
   font-size:18px;
   padding:0 8px
}

md-card-image {
  height: 200;
  width: 200;
}

.headers {
  text-align: center;


}

.bioContainer {

  margin: 100px auto 0px;
  width: 75%;

}

ul {
  margin:0;
  padding:5px 0 15px 35px;
}


/* Mobile */
@media (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
        padding:100px 16px 16px 16px;
    }
    .flexContainer img {
        width:100%;
        height:calc( ( 100vw - 16px ) );
        padding: 0;
    }

}
